// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #232323;
  overflow: hidden;
  padding: 100px 20px;
  box-sizing: border-box;
}
section::before{
  content:'';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9dad7f;
  clip-path: circle(65% at 100% -20%);
}
section::after{
  content:'';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7e8;
  clip-path: circle(35% at 0% 100%);
}
.containe {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.containe .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255,255,255,0.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  backdrop-filter: blur(15px);
}
.containe .card .imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  transition: 0.5s ease-in-out;
}
.containe .card:hover .imgBx{
  transform: translateY(-100px);
}

.containe .card .imgBx img {
  max-width: 100%;
  margin: 0 0 20px;
  transition: 0.5s ease-in-out;
}
.containe .card:hover .imgBx img {
  transform: translate(-20px,-40px) rotate(-25deg) scale(1.4);
}

.containe .card .imgBx h2{
  color: #fff;
  font-weight: 600;
}
.containe .card .content {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.containe .card:hover .content {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50px);
}
.containe .card .content .size,
.containe .card .content .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
}

.containe .card .content .size h3,
.containe .card .content .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.containe .card .content .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 24px;
  display: inline-block;
  color: #111;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 5px;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
}

.containe .card .content .size span:hover {
  background: #F1DB0D;
}
.containe .card .content .color span {
  width: 20px;
  height: 20px;
  background: #f00;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}
.containe .card .content .color span:nth-child(2){
  background: #9bdc28;
}
.containe .card .content .color span:nth-child(3){
  background: #03a9f4;
}
.containe .card .content .color span:nth-child(4){
  background: #e91e63;
}

.containe .card .content a {
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 12px 30px;
  background: #fff;
  border-radius: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
}



























